@model RentCar_AspNetCore7.Models.Booking

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminPanel/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentedCarId" class="control-label"></label>
                <select asp-for="RentedCarId" class="form-control" asp-items="ViewBag.RentedCarId"></select>
                <span asp-validation-for="RentedCarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalCityId" class="control-label"></label>
                <select asp-for="RentalCityId" class="form-control" asp-items="ViewBag.RentalCityId"></select>
                <span asp-validation-for="RentalCityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DropoffCityId" class="control-label"></label>
                <select asp-for="DropoffCityId" class="form-control" asp-items="ViewBag.DropoffCityId"></select>
                <span asp-validation-for="DropoffCityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalStartDate" class="control-label"></label>
                <input asp-for="RentalStartDate" class="form-control" />
                <span asp-validation-for="RentalStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalEndDate" class="control-label"></label>
                <input asp-for="RentalEndDate" class="form-control" />
                <span asp-validation-for="RentalEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

